<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Young Scholars</title>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <ul class="navbar">
    <li><a href="index"><img src="images/logo.svg" height="25px"/></a></li>
    <li><a href="k5">Elementary School</a></li>
    <li> <a href="k8">Middle School</a></li>
    <li><a href="k12">High School</a></li>
  </ul>
  {{{body}}}
</body>

</html>