<h1>Young Scholars</h1>

<!-- Slideshow -->
<div id="mySlideshow" class="slideshow">
    <div class="slide">
        <img class="slideImage" src="images/STEMpic.jpg" />
    </div>
    <div class="slide">
        <img class="slideImage" src="images/ScientistPic.jpg" />
    </div>
    <div class="slide">
        <img class="slideImage" src="images/GradCapPic.jpg" />
    </div>
</div>

<!-- Form -->
<form id="contactForm"
    action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
    <fieldset>
        <legend>Contact Us</legend>
        <input type="text" name="name-*" id="name" placeholder="Name" required />
        <input type="email" name="email-*" id="email" placeholder="Email" required />
        <input type="tel" name="phone" id="phone" placeholder="Phone Number" />
        <input type="text" name="subject" id="subject" placeholder="Subject" />
        <textarea id="Message" placeholder="Message"></textarea>
        <input type="submit" id="urlSubmit" />
    </fieldset>
</form>
<link rel="stylesheet" href="styles/slideshow.css"/>
<link rel="stylesheet" href="styles/index.css"/>
<script src="scripts/slideshow.js"></script>