<h1>High School Resources</h1>
<ul id="scrollList">
    <li>Tips on Getting into College: (Not in any Specific Order)</li>
    <li>Maintain high grades</li>
    <li>Join extracurriculars</li>
    <li>Explore career fields that interest you</li>
    <li>Find teachers that can act as mentors</li>
    <li>Gain volunteer experience</li>
    <li>Be apart of projects that you are passionate about</li>
    <li>Take AP or college level courses</li>
    <li>Make a list of colleges to apply to</li>
    <li>Study for your college entrance exams</li>
</ul>
<link rel="stylesheet" href="styles/scrolllist.css"/>