<h1>Middle School Resources</h1>
<a href="https://www.khanacademy.org/college-careers-more/learnstorm-growth-mindset-activities-us/elementary-and-middle-school-activities">
Khan Academy Study Resources
</a>